<div class="homepage" data-layout="row">
    <div>
        <img src="app/assets/img/webpackAngular.png" alt="Webpack - Angular Logo">
    </div>
    <div data-layout="column" data-layout-padding>
        <h1>{{Homepage.resolvedMessage}}</h1>
        <h2>Examples</h2>
        <hr>
        <h3>Component</h3>
        <hello-world message="Homepage.componentMessage"></hello-world>
        <hr>
        <h3>Filter</h3>
        <div>
            {{"a FilTer Has beEn ApplIed On me" | capitalize:true:true}}
        </div>
        <hr>
        <h3>Method from Class</h3>
        <div>
            Min Value : {{Homepage.minValue}}
        </div>
        <div>
            Max Value : {{Homepage.maxValue}}
        </div>
        <md-button click-me message="You clicked me" callback="Homepage.clickMeCallback(message)" class="md-primary md-raised">Click me !</md-button>
    </div>
</div>